<img class = "background" src="./images/background.jpg" alt="habits">

 <section class = "journalList">

{{#each journals}}
<div class="container">
  <div>

    <h3>{{createdAt}}</h3>


<p>{{content}}</p>

<div class = "journal-list-buttons">

    <a href="/journal/{{_id}}" class="small button" type="button" >See details</a> 

    <a href="/journal/{{_id}}/edit" class="small button" type="button"  >Edit</a> 

    <form action="/journal/{{_id}}/delete" method="POST" class="small button" type="button" >

      <button>Delete</button>

    </form>
</div>
  </div>
  </div>

{{/each}}
</section>

<script src="/js/date.js"></script>
<script src="/js/journal.js"></script>

{{!-- {{formateDate createdAt}} {{truncateString content 140}} --}}