<h1>Journal Entries</h1>

 <section class = "journalList">

{{#each journals}}

  <div>

    <h3>{{createdAt}}</h3>


<p>{{content}}</p>

<div class = "journal-list-buttons">

    <a href="/journal/{{_id}}" class="button" type="button" >See details</a> 

    <a href="/journal/{{_id}}/edit" class="button" type="button"  >Edit</a> 

    <form action="/journal/{{_id}}/delete" method="POST" class="button" type="button" >

      <button>Delete</button>

    </form>
</div>
  </div>

{{/each}}
</section>

<script src="/js/date.js"></script>
<script src="/js/journal.js"></script>

{{!-- {{formateDate createdAt}} {{truncateString content 140}} --}}