<a href="/pushups" class="return-link">Return</a>



<h1>Push-Ups: Previous Entries</h1>

{{#each entriesByDate}}
  <div class="entry" data-entry-id="{{_Id}}">
    <h2>{{@key}}</h2> 
    {{#each this}}
      
        <p>Number of push-ups: {{ content }}</p> 
     
    {{/each}}
    {{#if showButtons}}
      <div class="entry-buttons">
        <a href="/entries/edit/{{this._id}}" class="edit-button">Edit</a>
        <form action="/entries/delete/{{this._id}}" method="POST">
          <input type="hidden" name="entryId" value="{{this._id}}">
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </div>
    {{/if}}
  </div>
{{/each}}



<script src="/js/entry-interaction.js"></script>
